{% extends "layout.html" %}
{% block titulo %}
    Admin
{% endblock %}

{% block container %}

<!--------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------Emprendimiento--------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------->
    <div class="row mt-3">
        <div class="col-6">
            <h1>Administrar Emprendimiento</h1>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addcategoria">Agregar Emprendimiento</button>
        </div>
    </div>
    <div class="modal fade" id="addcategoria" tabindex="-1" role="dialog" aria-labelledby="addcategoriaLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/admin/emprendimiento" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="addcategoriaLabel">Agregar Emprendimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          <div class="modal-body">
                <!-- etiqueta oculta para pasar como valor el autor del registro -->
                <input type = "text" name="autor" value="admin" style="display: none;">
                <div class="form-group">
                    <label for="id_categoria">categoria: </label>
                    <select class="form-control" name="id_categoria" id="id_categoria">
                        {% for categoria in categorias %}
                        <option value="{{categoria.id_categoria}}">{{categoria.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_emprendedor">id_emprendedor: </label>
                    <select class="form-control" name="id_emprendedor" id="id_emprendedor">
                        {% for emprendedor in emprendedores %}
                        <option value="{{emprendedor.id_emprendedor}}">{{emprendedor.nombre}}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="KissMe">
                </div>

                <div class="form-group">
                    <label for="departamento">Departamento: </label>
                    <input type="text" class="form-control" id="departamento" name="departamento" placeholder="managua">
                </div>

                <div class="form-group">
                    <label for="municipio">Municipio: </label>
                    <input type="text" class="form-control" id="municipio" name="municipio" placeholder="managua">
                </div>

                <div class="form-group">
                    <label for="direccion">Dirección: </label>
                    <input type="text" class="form-control" id="direccion" name="direccion" placeholder="De la gasolinera UNO las colinas 300 mts al sur">
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción: </label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Helado artesanal nicaragüense">
                </div>

                <div class="form-group">
                    <label for="url_foto">url Foto: </label>
                    <input type="url" class="form-control" id="url_foto" name="url_foto" placeholder="https://www.tvn-2.com/variedad/de-todo-un-poco/Grumpy-Cat-gato-memes-demanda_11772613.jpg">
                </div>

                <div class="form-group">
                    <label for="link_facebook">Facebook: </label>
                    <input type="url" class="form-control" id="link_facebook" name="link_facebook" placeholder="https://www.facebook.com/kissmemanagua">
                </div>

                <div class="form-group">
                    <label for="link_youtube">Youtube: </label>
                    <input type="url" class="form-control" id="link_youtube" name="link_youtube" placeholder="https://www.youtube.com/">
                </div>

                <div class="form-group">
                    <label for="link_instagram">Instagram: </label>
                    <input type="url" class="form-control" id="link_instagram" name="link_instagram" placeholder="https://www.instagram.com/kissmemanagua">
                </div>

                <div class="form-group">
                    <label for="link_twitter">Twitter: </label>
                    <input type="url" class="form-control" id="link_twitter" name="link_twitter" placeholder="https://www.twitter.com/">
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Registrar">
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
        <table class="table-responsive">
            <thead>
                <tr>
                    <!--id_emprendimiento, nombre, departamento, municipio, direccion, descripcion, url_foto, link_facebook, link_youtube, link_instagram, link_twitter-->
                    <th scope="col">id</th>
                    <th>id_categoria</th>
                    <th>id_emprendedor</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Municipio</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">URL_Foto</th>
                    <th scope="col">Link_Facebook</th>
                    <th scope="col">Link_Youtube</th>
                    <th scope="col">Link_Instagram</th>
                    <th scope="col">Link_Twitter</th>
                </tr>
            </thead>
            <tbody>
                {% for emprendimiento in lista_emprendimiento %}
                <tr>
                    <th scope="row">{{ emprendimiento.id_emprendimiento }}</th>
                    <td onclick="editarEmprendimientoIdCategoria({{emprendimiento.id_emprendimiento}})">{{emprendimiento.id_categoria}}</td>
                    <td onclick="editarEmprendimientoIdEmprendedor({{emprendimiento.id_emprendimiento}})">{{emprendimiento.id_emprendedor}}</td>
                    <td onclick="editarEmprendimientoNombre({{emprendimiento.id_emprendimiento}})">{{ emprendimiento.nombre}} </td>
                    <td onclick="editarEmprendimientoDepartamento({{emprendimiento.id_emprendimiento}})">{{ emprendimiento.departamento}}</td>
                    <td onclick="editarEmprendimientoMunicipio({{emprendimiento.id_emprendimiento}})">{{ emprendimiento.municipio}}</td>
                    <td onclick="editarEmprendimientoDireccion({{emprendimiento.id_emprendimiento}})">{{ emprendimiento.direccion}}</td>
                    <td onclick="editarEmprendimientoDescripcion({{emprendimiento.id_emprendimiento}})">{{ emprendimiento.descripcion}}</td>
                    <td onclick="editarEmprendimientoURL_Foto({{emprendimiento.id_emprendimiento}})"><img src="{{emprendimiento.url_foto}}" width="200px" alt="{{emprendimiento.nombre}}"></td>
                    <td onclick="editarEmprendimientoLinkFacebook({{emprendimiento.id_emprendimiento}})">{{ emprendimiento.link_facebook}}</td>
                    <td onclick="editarEmprendimientoLinkYoutube({{emprendimiento.id_emprendimiento}})">{{ emprendimiento.link_youtube}}</td>
                    <td onclick="editarEmprendimientoLinkInstagram({{emprendimiento.id_emprendimiento}})">{{ emprendimiento.link_instagram}}</td>
                    <td onclick="editarEmprendimientoLinkTwitter({{emprendimiento.id_emprendimiento}})">{{ emprendimiento.link_twitter}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
