{% extends "layout.html" %}
{% block titulo %}
    Admin
{% endblock %}

{% block container %}

<!--------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------Feria--------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------->
    <div class="row mt-3">
        <div class="col-6">
            <h1>Administrar Ferias</h1>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addferia">Agregar Feria</button>
        </div>
    </div>
    <div class="modal fade" id="addferia" tabindex="-1" role="dialog" aria-labelledby="addferialabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/admin/feria" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="addcategoriaLabel">Agregar Feria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          <div class="modal-body">
                <!-- etiqueta oculta para pasar como valor el autor del registro -->
                <input type = "text" name="autor" value="admin" style="display: none;">
                <div class="form group">
                    <label for="id_emprendimiento">id_emprendimiento: </label>
                    <select name="id_emprendimiento" id="id_emprendimiento" class="form-control">
                        {% for emprendimiento in emprendimientos %}
                            <option value="{{emprendimiento.id_emprendimiento}}">{{emprendimiento.nombre}}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="PopUp">
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción: </label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Feria navideña de emprendimientos">
                </div>

                <div class="form-group">
                    <label for="departamento">Departamento: </label>
                    <input type="text" class="form-control" id="departamento" name="departamento" placeholder="managua">
                </div>

                <div class="form-group">
                    <label for="municipio">Municipio: </label>
                    <input type="text" class="form-control" id="municipio" name="municipio" placeholder="managua">
                </div>

                <div class="form-group">
                    <label for="direccion">Dirección: </label>
                    <input type="text" class="form-control" id="direccion" name="direccion" placeholder="De la gasolinera UNO las colinas 300 mts al sur">
                </div>

                <div class="form-group">
                    <label for="fecha_inicio">Fecha de inicio: </label>
                    <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" placeholder="DD/MM/YYYY">
                </div>

                <div class="form-group">
                    <label for="fecha_fin">Fecha a finalizar: </label>
                    <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" placeholder="DD/MM/YYYY">
                </div>

                <div class="form-group">
                    <label for="url_foto">url Foto: </label>
                    <input type="url" class="form-control" id="url_foto" name="url_foto" placeholder="https://www.tvn-2.com/variedad/de-todo-un-poco/Grumpy-Cat-gato-memes-demanda_11772613.jpg">
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Registrar">
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <!--id_feria, id_emprendimiento, nombre, descripcion, departamento, municipio, direccion, fecha_inicio, fecha_fin, url_foto-->
                    <th scope="col">id</th>
                    <th scope="col">id_emprendimiento</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Municipio</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Fecha_Inicio</th>
                    <th scope="col">Fecha_Fin</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
                {% for feria in lista_feria %}
                <tr>
                    <th scope="row">{{ feria.id_feria }}</th>
                    <td onclick="editarFeriaIdEmprendimiento({{feria.id_feria}})">{{feria.id_emprendimiento}} </td>
                    <td onclick="editarFeriaNombre({{feria.id_feria}})">{{feria.nombre }} </td>
                    <td onclick="editarFeriaDescripcion({{feria.id_feria}})">{{feria.descripcion }}</td>
                    <td onclick="editarFeriaDepartamento({{feria.id_feria}})">{{feria.departamento}}</td>
                    <td onclick="editarFeriaMunicipio({{feria.id_feria}})">{{feria.municipio}}</td>
                    <td onclick="editarFeriaDireccion({{feria.id_feria}})">{{feria.direccion}}</td>
                    <td onclick="editarFeriaFechaInicio({{feria.id_feria}})">{{feria.fecha_inicio}}</td>
                    <td onclick="editarFeriaFechaFin({{feria.id_feria}})">{{feria.fecha_fin }}</td>
                    <td onclick="editarFeriaURL_Foto({{feria.id_feria}})"><img src="{{feria.url_foto}}" width="200px" alt="{{feria.nombre}}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
