{% extends "layout.html" %}
{% block titulo %}
    Inicio
{% endblock %}

{% block container %}

<div class="row">
    <div class="col-12">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="text-center">
                  <img style="height:400px;" src="https://i.ibb.co/Bn2r99L/carrusel-1.jpg" alt="First slide">
              </div>
              <div class="carousel-caption d-none d-md-block">
                <p>"Wabi Sabi ha sido un sitio donde me puedo sentir cómoda compartiendo mi información, se que está en manos de personas capaces y que gustan de ayudar al resto. Gracias a esta plataforma he podido mejorar mis ventas, ya que en el barrio que vivo es difícil para una mujer emprender y sobretodo hacerse cargo de tu familia sola pero las ganas de luchar y salir adelante nunca faltan y más para las mujeres Nicas."</p>
              </div>
            </div>

            <div class="carousel-item">
                <div class="text-center">
              <img style="height:400px;"  src="https://i.ibb.co/kMPBBs0/carrusel-2.jpg" alt="Second slide"></div>
              <div class="carousel-caption d-none d-md-block">
                <p>"Puede parecer difícil y más dirán para alguien de mi edad aprender e incursionar en el uso tecnológico es complicado, no niego que me daba miedo comenzar, pero mis hijos me incentivaron a que probara la plataforma y ya llevamos dos meses usándola con muy buenos resultados."</p>
              </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
              <img style="height:400px;"  src="https://i.ibb.co/hY1NXKH/carrusel-4.jpg" alt="Second slide"></div>
              <div class="carousel-caption d-none d-md-block">
                <p>"Mi mamá me contó que había empezado a usar una plataforma para dar a conocer su negocio y que le estaba ayudando mucho con las ventas y la atención al cliente era más directa, ¡así que dije Porque no yo también!"</p>
              </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
              <img style="height:400px;"  src="https://i.ibb.co/ySdw6Zw/carrusel-5.jpg" alt="Second slide"></div>
              <div class="carousel-caption d-none d-md-block">
                <p>"Me tocaba salir cada mañana desde temprano y arreglar mi pequeño puesto en el oriental, muchas veces cuando llovía debido a las goteras se me mojaban los artículos que vendían, lo que me ocasionaba perdidas monetarias por los artículos dañados. Así que cuando se me presento un grupo de jóvenes y me propusieron la idea pensé que no tenía nada que perder. Me gusta que el acceso al sitio se ha fácil, que la administración siempre este atenta a resolvernos cualquier duda o falla del sitio y que se maneje en constante mejora"</p>
              </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
              <img style="height:400px;"  src="https://i.ibb.co/rmsn31J/carrusel-8.jpg" alt="Second slide"></div>
              <div class="carousel-caption d-none d-md-block">
                <p>"Juntas podemos hacer un cambio, nuestras pequeñas acciones son la semilla que juntas cosecharan grandes frutos para nuestro país y familia."</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
</div>
{% endblock %}
